/*
    Project: CrystalX
    URL: http://www.nuvio.cz
    
    Output device: screen, projection
    
    Author: Vit Dlouhy (vit.dlouhy@nuvio.cz); Nuvio (www.nuvio.cz)
    Last revision: 2006-12-05, 12:00 GMT+1

    Structure:
        display | position | float | overflow | width | height | border | margin | padding | background | align | font
*/

* {min-height:1px;}

body 
{
border:0; 
margin:0; 
padding:0; 
background-color:#CCCCCC; 
background-position:relative;
/*position: relative;*/
clear: both;
/*background-image:url("../design/background.jpg");
background-size:1920px 1080px;
-moz-background-size:1920px 1080px;/* Ñª Firefox */
background-repeat:no-repeat;
background-attachment:fixed;
/*background-position:center;*/
/*padding-top:80px;*/
font:70%/160% "verdana",sans-serif; 
color:#192666; _text-align:center;
}
body img
{
/*display: block;*/
width: 100%;
z-index: -1;
}



a {color:#192666;}
a:hover {color:#4F6AD7;}

p {border:0; margin:15px 0; padding:0;}

div {display:block; border:0; margin:0; padding:0;}

h1, h2, h3, h4, h5 {border:0; margin:15px 0 10px 0; padding:0; font-weight:bold;}
h1 {font-size:260%; line-height:100%; font-family:"georgia",serif; font-weight:normal;}
h2 {font-size:180%; line-height:100%; font-family:"georgia",serif; font-weight:normal;}
h3 {font-size:120%; line-height:100%; font-weight:bold;}
h4 {font-size:120%;}
h5 {font-size:100%;}

table {display:table; border-collapse:collapse; margin:15px 0; padding:0; border:1px solid #B7CAF6; font-size:100%;}
tr {display:table-row;}
th, td {display: table-cell; border:1px solid #B7CAF6; margin:0; padding:5px; vertical-align:top; text-align:left;}
th {background:#E7ECFD; text-align:center; color:#192666; font-weight:bold;}

ul, ol {display:block; border:0; margin:15px 0 15px 40px; padding:0;}
ol {list-style-type:decimal;}
li {display:list-item; border:0; margin:0; padding:0; _height:1px;}
ul ul, ul ol, ol ol, ol ul {margin: 0 0 0 20px;}

dl {border:0; margin:15px 0; padding:0;}
dt {border:0; margin:0; padding:0; font-weight:bold;}
dd {border:0; margin:0 0 0 30px; padding:0;}

form {border:0; margin:0; padding:0;}
fieldset {border:1px solid #ccc; margin:15px 0; padding:10px;}
legend {margin-left:10px; font-size:100%; font-weight:bold; color:#008;}

hr {display:block; height:1px; margin:10px 0; padding:0; background:#CCC; border:0 solid #CCC; color:#CCC;}

a, img, span {border:0; margin:0; padding:0;}
abbr, acronym {border-bottom:1px dotted #CCC; cursor:help;}

del, .through {text-decoration:line-through;}
strong, .strong {font-weight:bold;}
cite, em, q, var {font-style:italic;}
code, kbd, samp {font-family:monospace; font-size:110%;}

/* Floating */
.f-left {float:left;}
.f-right {float:right;}

/* Text align */
.t-left {text-align:left;}
.t-center {text-align:center;}
.t-right {text-align:right;}

.va-middle {vertical-align:middle;}

.clear {clear:both;}
.box {min-height:1px; _height:1px;}
.box:after {content:"."; display:block; line-height:0px; font-size:0px; visibility:hidden; clear:both;}

.nom {margin:0;}
.noscreen {display:none;}

/* -----------------...........--------------------------------------------------------------------------------------- */

#main {width:770px; margin:50px auto 0 auto; _text-align:left;}

/* Header */
#header {position:relative; width:770px; height:100px; margin:0; padding:0; background:#233C9B url("../design/header.jpg") 0 0 no-repeat; color:#FFF;}

    /* Header - logo */
    #header #logo {position:absolute; top:35px; left:35px; margin:0;}
	#header #logo2 {position:absolute; top:15px; left:35px; margin:0;}
    #header #logo a {color:#FFF;}
    #header #logo a:hover {color:#B5C4E3; text-decoration:underline;}
    
    /* Header - Search */
    #header #search {position:absolute; top:35px; right:20px;}
    #header #search form {position:relative;}
    #header #search #search-input-out {position:absolute; top:0; right:45px; width:155px; height:28px; margin:0; padding:0; border:0; background:url("../design/search_input.gif") 0 0 no-repeat; font:bold 90%/100% "verdana",sans-serif; color:#192666;}
    #header #search #search-input {width:140px; margin:5px 8px; padding:3px 0; border:0; background:#FFF; font:bold 100%/100% "verdana",sans-serif; color:#192666;}
    #header #search #search-submit {position:absolute; top:0; right:0px;}
    #header #search fieldset {margin:0; padding:0; border:0;}
    #header #search fieldset {width:200px;}
    #header #search legend {display:none;}

/* Main menu (tabs) */
#tabs {background:#192666; margin:0 5px; padding:10px 0 0 0; _height:1px;}

    #tabs ul {margin:0 10px; padding:0; list-style:none;}
    #tabs ul li {margin:0 5px 0 0; padding:0; float:left;}
    #tabs ul li a {display:block; position:relative; padding:7px 15px; border:0; background:url("../design/tab_link.gif") 0 0 repeat-x; color:#B5C4E3; font-weight:bold; text-decoration:none; cursor:pointer;}
    
    /* Main menu (tabs - link) */
    #tabs ul li a span.tab-l, #tabs ul li a:hover span.tab-l {position:absolute; top:0; left:0; _left:-15px; width:8px; height:8px; background:url("../design/tab_link_l.gif") 0 0 no-repeat;}
    #tabs ul li a span.tab-r, #tabs ul li a:hover span.tab-r {position:absolute; top:0; right:0; _right:-1px; width:8px; height:8px; background:url("../design/tab_link_r.gif") 100% 0 no-repeat;}
    
    /* Main menu (tabs - hover) */
    #tabs ul li a:hover {background:url("../design/tab_hover.gif") 0 0 repeat-x; color:#FFF;}
    #tabs ul li a:hover span.tab-l {background:url("../design/tab_hover_l.gif") 0 0 no-repeat;}
    #tabs ul li a:hover span.tab-r {background:url("../design/tab_hover_r.gif") 100% 0 no-repeat;}
    
    /* Main menu (tabs - active) */
    #tabs ul li#active a {background:#FFF; color:#FF9000;}
    #tabs ul li#active a span.tab-l {position:absolute; top:0; left:0; _left:-15px; width:8px; height:8px; background:url("../design/tab_active_l.gif") 0 0 no-repeat;}
    #tabs ul li#active a span.tab-r {position:absolute; top:0; right:0; width:8px; height:8px; background:url("../design/tab_active_r.gif") 100% 0 no-repeat;}

/* Page (2 columns) */
#page {width:770px; min-height:1px; background:#FFFFFF url("../design/bg_page.gif") 0 0 repeat-y; _height:1px;}
#page-in {min-height:1px; padding:10px 0; background:url("../design/bg_page_in.jpg") 0 0 no-repeat; _height:1px;}

/* Strip */
#strip {position:relative; clear:both; padding:3px 20px 10px 20px; color:#6182D1;}
#strip p {margin:0;}
#strip a {color:#6182D1;}
#strip a:hover {color:#192666;}

    /* Strip - breadcrumbs */
    #strip #breadcrumbs {width:520px; margin:0; padding:0;}
    
    /* Strip - RSS */
    #strip #rss {float:right; width:175px; _width:200px; margin:0; padding-left:25px; background:url("../design/ico_rss.gif") 0 50% no-repeat}

/* Content */
#content {float:left; width:530px; _width:550px; margin:0; padding:0 0 0 20px;}

    /* Content - article */
    #content .article {clear:both; margin:0; padding:20px; background:url("../design/content_article_bg.jpg") 0 0 no-repeat;}
    #content .article h2 {margin:0 -20px; padding:10px; background:#DEE5FD url("../design/content_title_bg.gif") 0 0 repeat-y; color:#192666;}
    #content .article h2 span {background:url("../design/ico_list.gif") 0 50% no-repeat; padding-left:25px;}
	#content .article h2 span.archive-active a {color:#FF9000; font-weight:bold;}
	#content .article h2.archive-active a {color:#FF9000; font-weight:bold;}
	#content .article p {text-align:justify;}
    #content .info {margin:10px 0; padding-bottom:8px; border-bottom:1px solid #DEE5FD; color:#6685CC;}
    #content .info a {color:#6685CC;}
    #content .info a:hover {color:#FF9000;}
    
    #content .info span.date, #content .info span.cat, #content .info span.user, #content .info span.comments {padding-left:15px;}
    #content .info span.date {background:url("../design/ico_date.gif") 0 50% no-repeat;}
    #content .info span.cat {background:url("../design/ico_cat.gif") 0 50% no-repeat; margin-left:8px;}
    #content .info span.user {background:url("../design/ico_user.gif") 0 50% no-repeat; margin-left:8px;}
    #content .info span.comments {background:url("../design/ico_comments.gif") 0 50% no-repeat; margin-left:8px;}

    /* Content - More */
    #content .btn-more {margin:0 0 15px 0; padding:0; border:0; position:relative;}
    #content .btn-more a {display:block; position:absolute; top:0; right:0; width:67px; _width:95px; height:21px; margin:0; padding:0 0 0 28px; background:url("../design/btn_more.gif") 0 0 no-repeat; color:#FFF; text-decoration:none;}
    #content .btn-more a:hover {background:url("../design/btn_more.gif") -95px 0 no-repeat;}
	
/* Right column */
#col {float:left; width:200px; margin:0; padding:0; background:#CEDBF9 url("../design/col_bg.gif") 0 0 repeat-y;}
#col-in {padding:20px 10px; background:url("../design/col_top.gif") 0 0 no-repeat;}
#col h3 {padding:13px 15px 14px 15px; margin:0 -10px 15px -10px; background:#A0B9F3 url("../design/col_title_bg.gif") 0 0 repeat-y; color:#192666;}

    /* Right column - About me */
    #col #about-me {margin-bottom:15px; line-height:180%;}
    #col #about-me p {margin:0;}
    #col #about-me #me {float:left; width:54px; height:88px; margin-right:7px;}

    /* Right column - Category */
    #col ul#category {margin:15px 0; padding:0; list-style:none;}
    #col ul#category li {margin:0; padding:0; border-bottom:1px solid #E0E8FA;}
    #col ul#category li a {display:block; padding:3px 0 3px 22px; background:url("../design/ico_archive.gif") 5px 6px no-repeat; text-decoration:none;}
    #col ul#category li a:hover {background-color:#D3DFF8; color:#192666;}
    #col ul#category li#category-active a {background:#E0E8FA url("../design/ico_archive2.gif") 5px 50% no-repeat; font-weight:bold;}
    
    /* Right column - Archive */
    #col ul#archive {margin:15px 0; padding:0; list-style:none;}
    #col ul#archive li {margin:0; padding:0; border-bottom:1px solid #E0E8FA;}
    #col ul#archive li a {display:block; padding:3px 0 33px 22px; background:url("../design/ico_archive.gif") 5px 50% no-repeat; text-decoration:none;}
    #col ul#archive li a:hover {background-color:#D3DFF8; color:#192666;}
    #col ul#archive li#archive-active a {background:#E0E8FA url("../design/ico_archive2.gif") 5px 6px no-repeat; font-weight:bold;}
    
    /* Right column - Links */
    #col ul#links {margin:15px 0; padding:0; list-style:none;}
    #col ul#links li {margin:0; padding:0; border-bottom:1px solid #E0E8FA;}
    #col ul#links li a {display:block; padding:3px 0 3px 22px; background:url("../design/ico_links.gif") 5px 6px no-repeat; text-decoration:none;}
    #col ul#links li a:hover {background-color:#D3DFF8; color:#192666;}

/* Footer */
#footer {position:relative; clear:both; width:770px; height:60px; margin-bottom:50px; background:url("../design/footer.jpg") 0 0 no-repeat; color:#6685CC;}
#footer a {color:#6685CC;}
#footer a:hover {color:#192666;}

    /* Footer - "back on top" */
    #top {position:absolute; top:55px; left:550px;}
    #top p {position:relative; width:30px; height:25px; margin:0; overflow:hidden;}
    #top p span {display:block; position:absolute; left:0; top:0; z-index:1; width:30px; height:25px; background:url("../design/ico_top.gif") 0 0 no-repeat; cursor:pointer;}
    #top a:hover span {background:url("../design/ico_top.gif") -30px 0 no-repeat;}

    /*  Footer - copyright */
    #footer p#copyright {position:absolute; top:10px; left:40px; margin:0;}

    /* Footer - created by */
    #createdby {position:absolute; top:10px; left:562px; margin:0; color:#8CA3D8;}
    #createdby a {color:#8CA3D8;}
      /* Modals
        ----------------------------------------------*/
        
        a.link {
            font-size: large;
        }
        
        a.link.btn {
            border-color: #d900ae;
        }
        
        a.link:hover {
            background-color: #0085a6;
            color: rgb(255, 255, 255);
            text-decoration: none;
        }
        
        [data-ml-modal] {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            z-index: 999;
            width: 0;
            height: 0;
            opacity: 0;
        }
        
        [data-ml-modal]:target {
            width: auto;
            height: auto;
            opacity: 1;
            -webkit-transition: opacity 1s ease;
            transition: opacity 1s ease;
        }
        
        [data-ml-modal]:target .modal-overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            cursor: pointer;
            background-color: #000;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 1;
        }
        
        [data-ml-modal] .modal-dialog {
            border-radius: 6px;
            box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
            position: relative;
            width: 90%;
            /* max-width:660px; */
            max-height: 90%;
            margin: 2% auto;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 2;
        }
        /* .modal-dialog-lg {max-width:70% !important;} */
        
        [data-ml-modal] .modal-dialog>h3 {
            background-color: #eee;
            border-bottom: 1px solid #b3b3b3;
            font-size: 24px;
            font-weight: 400;
            margin: 0;
            padding: 0.8em 56px .8em 27px;
        }
        
        [data-ml-modal] .modal-content {
            background: #fff;
            padding: 27px;
            height: 1080px;
        }
        
        [data-ml-modal] .modal-close {
            position: absolute;
            top: 13px;
            right: 13px;
            color: #0085a6;
            background-color: #fff;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }
        
        [data-ml-modal] .modal-close:hover {
            background-color: #0085a6;
            color: #fff;
            cursor: pointer;
        }
        
        [data-ml-modal] p:first-child,
        [data-ml-modal] p:last-child {
            margin: 0;
        }
        
        @media (min-width: 768px) and (max-width: 1024px) {
            [data-ml-modal] .modal-content {
                height: 100vh;
                /* Fallback for browsers that do not support Custom Properties */
                height: calc(var(--vh, 1vh) * 100);
            }
        }
        /* End Modals ------------------------------*/
    
        /* General*/
        
        a {
            outline: 0;
            /* -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out; */
        }

        h2 > span >a {
            text-decoration: none;
        }
        a:hover {
            color: #0085a6;
            text-decoration: none;
        }
        
        .btn {
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            background-image: none;
            border: 2px solid transparent;
            white-space: normal;
            padding: 3px 14px;
            font-size: 18px;
            border-radius: 3px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        .btn-default {
            border-color: #0085a6;
        }
        
        a.btn-default:hover {
            background-color: #0085a6;
            color: #fff;
        }
        
        pre {
            overflow: auto;
            font-size: 1em;
        }
/* Carousel Styles for about_us.html */
.carousel-container {
    position: relative;
    width: 100%; /* Occupy full width of parent */
    max-width: 720px; /* Max width constraint */
    height: 360px; /* Fixed height for consistency */
    margin: 1em auto;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f0f0f0; /* Light background for visibility */
}
.carousel-slide {
    display: none; /* Hidden by default */
    width: 100%;
    height: 100%;
    text-align: center; /* Center content horizontally */
    line-height: 360px; /* Vertically center content */
    font-size: 2em;
    color: #555;
    position: absolute; /* Stack slides */
    top: 0;
    left: 0;
}
.carousel-slide.active {
    display: block; /* Show active slide */
}
.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Contain image within bounds */
    vertical-align: middle; /* Align image vertically */
    display: block; /* Ensure image takes up space */
}
.carousel-nav {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 1.5em;
    z-index: 10;
}
.carousel-nav.prev {
    left: 0;
    border-radius: 0 5px 5px 0;
}
.carousel-nav.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}
