
.AbsoluteFullCenter {
    z-index: 2000;
    height: 100%;
    /* Set your own height: percents, ems, whatever! */
    width: 100%;
    /* Set your own width: percents, ems, whatever! */
    overflow: auto;
    /* Recommended in case content is larger than the container */
    margin: auto;
    /* Center the item vertically & horizontally */
    position: fixed;
    /* Break it out of the regular flow */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0 0 0 / 50%);
    /* Set the bounds in which to center it, relative to its parent/container */
}


.AbsoluteCenter {
    border-radius: 25px;
    height: 90%;
    /* Set your own height: percents, ems, whatever! */
    width: 80%;
    /* Set your own width: percents, ems, whatever! */
    overflow: auto;
    /* Recommended in case content is larger than the container */
    margin: auto;
    /* Center the item vertically & horizontally */
    position: fixed;
    /* Break it out of the regular flow */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-animation-name: cssAnimation;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    /* Set the bounds in which to center it, relative to its parent/container */
}