body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.form {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
}

.form h1 {
    color: white;
    font-weight: 500;
}

.form input[type="email"],
.form input[type="password"],
.form input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.form input[type="email"]:focus,
.form input[type="password"]:focus,
.form input[type="text"]:focus {
    width: 280px;
    background: #ecf0f1;
    color: #000;
    border-color: #2ecc71;
}

.form button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 14px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.form button[type="submit"]:hover {
    background: #2ecc71;
}

.form a[type="submit"] {
    border: 0;
    width: 50%;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #f1c40f;
    padding: 14px 14px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.form a[type="submit"]:hover {
    background: #f1c40f;
    color: #000;
}

.alert-box {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto', sans-serif;
    text-align: center;
    transition: 1s;
}